* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: #fff;
  --bg-url: url(../assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(255, 255, 255, 0.05);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(../assets/moon-stars.svg);
}

.light {
  --text-color: #000;
  --bg-url: url(../assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.3);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.2);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(../assets/sun.svg);
}

body {
  background: var(--bg-url) no-repeat top center/cover;
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

#container {
  width: 360px;
  margin: 56px auto;
  padding: 0 24px;
}

#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  max-width: 112px;
  max-height: 112px;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

#switch {
  position: relative;
  width: 64px;
  margin: auto;
}

#switch button {
  width: 32px;
  height: 32px;
  background: #fff var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;

  position: absolute;
  z-index: 1;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

#switch button:hover {
  outline: 5px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 8px 0 rgba(255, 255, 255, 0.3);
  transition: all 0.9s;
}

.light #switch button {
  right: 0;
  left: initial;
}

.light #switch button:hover {
  outline: 5px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 2px 8px 0 rgba(0, 0, 0, 0.3);
  transition: 0.9s;
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 9999px;
  -webkit-backdrop-filter: blur(4px);
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 28px;
}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 15px;

  border: 1px solid var(--stroke-color);
  border-radius: 8px;
  background: var(--surface-color);

  text-decoration: none;
  font-weight: 500;

  transition: all 0.2s;
}

ul li a:hover {
  border: 1.5px solid var(--text-color);
  border-radius: 8px;
  background: var(--surface-color-hover);
}

#social-links {
  display: flex;
  justify-content: center;
  margin-top: 16px;

  padding: 24px 0;
  font-size: 24px;

  transition: all 0.2s;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;

  border-radius: 50%;
  transition: background 0.2s;
}

#social-links a:hover {
  background: var(--highlight-color);
}

footer p {
  display: flex;
  justify-content: center;
  padding: 12px;

  gap: 7px;
  font-weight: 400;
  font-size: 14px;
}
